@import "tailwindcss";

@theme {
  --color-spotify-green: #1DB954;
  --color-spotify-black: #191414;
  --color-spotify-dark-gray: #121212;
  --color-spotify-light-gray: #282828;
  --color-spotify-white: #FFFFFF;
}

body {
    background-color: black;
    color: white;
    font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Link Reset */
a {
    color: inherit;
    text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888; 
}
.spotifynew{
    width: 100px;
}
